# Node.js dependencies
/node_modules
/**/node_modules

# Yarn PnP
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js build output
/.next
/out

# Next.js local env files
.env.local
.env.*.local

# Production build folders
/build
/dist

# Sanity Studio build output
/sanity-studio/dist
/sanity-studio/out
/sanity-studio/.sanity/__generated

# IDE / OS metadata
.DS_Store
Thumbs.db
.vscode/**
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.idea
*.iml

# Logs and debugging
*.log*

# TypeScript
*.tsbuildinfo
.next-env.d.ts

# Coverage reports
/coverage

# SSL / Keys
*.pem
*.key
*.crt

# Deployment caches
.vercel
.netlify

# Miscellaneous
.envrc
.env*